.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #d2d2da;
  height: 100%;
  width: 400px;
  margin: auto;
  position: relative;
  padding-bottom: 50px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30px;
    position: relative;
  }

  &__form {
    display: flex;
    align-items: center;
    position: absolute;
    top: -30px;
    border: 2px solid black;
    border-radius: 5px;

  }

  &__color-picker {
    position: relative;
    height: 100%;
  }
}
